/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/*generic styles*/

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
}
h1 {
	font-size: 2.2em;
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1.7em;
}
p {
	font-size: 1.2em;
	line-height: 1.2em;
}
a {
	text-decoration: none;
	font-size: 1.2em;
}
ul {
	list-style: none;
}

/*header */
header,
#home {
	background-color: #F5F1E3;
}
header .title-center {
	text-align: left;
	font-style: normal;
}
header p {
	margin: 0;
	padding-bottom: 15px;
}
header nav ul {
	float: left;
	position: relative;
}
header nav li {
	display: block;
}
header nav a {
	display: block;
	border: 2px solid #938BA1;
	margin-bottom: 2px;
    padding: 10px 12px;
    color: #938BA1;
}

/*Home*/

.intro img {
  width: 300px;
  display: block;
  margin: 0 auto;
  margin-bottom: 2em;
}
.intro h2,
p {
	text-align: center;
	font-style: italic;
	margin: 0 0 0.5em 3em;
	color: #938BA1;
	font-weight: lighter;
}
.intro p.cite {
	margin-bottom: 0;
	padding-bottom: 1em;
}
/* page: quienes-somos*/
#que-hacemos,
#quienes-somos {
	padding: 30px 22%;
}
#quienes-somos p {
	text-align: left;
	font-style: normal;
	margin: 0;
}
#quienes-somos h2 {
	font-size: 1.5em;
	margin: 1em 0 1em 0;
}
/* page: que-hacemos*/

#que-hacemos h1 {
	text-align: center;
	margin-bottom: 1em;
}
#quienes-somos h1 {
	text-align: center;
	margin-bottom: 1em;
}
#que-hacemos p {
	text-align: left;
	font-style: normal;
	margin: 0;
	line-height: 1.5em;
}
#que-hacemos h3 {
	margin: 1em 0 1em 0;
	text-align: center;
}
#que-hacemos li {
	margin-bottom: 0.5em;
	font-size: 1.2em;
	line-height: 1.2em;
	color: #938BA1;
}

/* page: santo-rosario*/
section#santo-rosario {
	padding: 15px 10%;
	background-color: #F5F1E3;
}
section#santo-rosario li {
	display: inline-block;
	border: 2px solid #938BA1;
	margin: 0.5em 0 0.5em 0;
	padding: 15px 60px
}
section#santo-rosario a {
	text-transform: uppercase;
	text-align: center;
	color: #938BA1;
}
section#acerca-de-santo-rosario {
	padding: 15px 15%;
}
section#acerca-de-santo-rosario h2 {
	text-align: center;
	margin: 1em 0 1em 0;
}
section#acerca-de-santo-rosario p {
	text-align: left;
	font-style: normal;
}
article#oraciones-del-santo-rosario img {
	display: block;
	margin: 0 auto;
	margin-bottom: 1em;
}
article#oraciones-del-santo-rosario p.footer-image {
	font-weight: normal;
	text-align: center;
	font-size: 1em;
}
article#oraciones-del-santo-rosario li {
	font-size: 1.2em;
	margin-bottom: 0.5em;
	line-height: 1.2em;
}


/*footer*/

footer {
	background-color: #E78F8E;
	padding: 35px 15%;
	text-align: center;
}
footer p {
	color: #fff;
	font-style: normal;
	font-size: 1.5em;
}
footer a.email {
	text-transform: uppercase;
	border: 2px solid #FFF;
	color: #FFF;
	font-size: 0.8em;
	padding: 10px 15px;
}
footer a.footer-link {
	margin-left: 3.5em;
	color: #fff;
	font-size: 1.2em;
}
