<header>
  <a href="/">Tiempo de María - Uruguay</a>
  <p class="title-left">Integrantes del Rosario en Familia Internacional</p>
  <nav id="nav-menu" class="hidden">
    <ul class="nav">
        <li><a href="/quienes-somos">Quiénes Somos</a></li>
        <li><a href="/que-hacemos">Qué hacemos</a></li>
        <li><a href="/santo-rosario">Santo Rosario</a></li>
        <li><a href="/actividades">Actividades</a></li>
        <li><a href="/oraciones">Oraciones</a></li>
        <li><a href="/reflexiones">Reflexiones</a></li>
        <li><a href="/entre-nosotros">Entre Nosotros</a></li>
        <li><a href="/campanas">Campanas</a></li>
        <li><a href="/emisoras">Emisoras</a></li>
        <li><a href="/contacto">Contacto</a></li>
    </ul>
  </nav>
</header>


