
<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
        <ul>
            <li><a href="quienes-somos">Quiénes Somos</a></li>
            <li><a href="que-hacemos">Qué hacemos</a></li>
            <li><a href="santo-rosario">Santo Rosario</a></li>
            <li><a href="actividades">Actividades</a></li>
            <li><a href="oraciones">Oraciones</a></li>
            <li><a href="reflexiones">Reflexiones</a></li>
            <li><a href="entre-nosotros">Entre Nosotros</a></li>
            <li><a href="campanas">Campanas</a></li>
            <li><a href="emisoras">Emisoras</a></li>
            <li><a href="contacto">Contacto</a></li>
        </ul>
    </nav>


      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <!--a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a-->
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
