---
layout: page
---
<section class="pages header" id="santo-rosario">
	<h1>Santo Rosario</h1>
	
	<ul class="menu-align-left bulleted-list">
		{% for s in site.santorosario %}
			<li>
				<a href="#{{ s.title | slugify }}">{{ s.title }}</a>
			</li>
		{% endfor %}
		<li>
			<a href="#misterios">Misterios del Santo Rosario</a>
		</li>
		<li>
			<a href="#jaculatorias">Jaculatorias</a>
		</li>
	</ul>
</section>

<section class="pages" id="acerca-de-santo-rosario">
	{% for s in site.santorosario %}
		<article id="{{ s.title | slugify }}">
			<a href="{{ s.url }}"><h2>{{ s.title }}</h2></a>

			{{ s.content }}

		</article>
	{% endfor %}


	<article id="misterios">
		<h2>Misterios del Santo Rosario</h2>
		<ul>
			{% for misterio in site.misterios %}
				<li>
					<h3>{{ misterio.title }}</h3>
					<p>{{ misterio.description }}</p>
					<a href="{{ misterio.url }}">Ver todos - Click aquí</a>
				</li>
			{% endfor %}
		</ul>
	</article>
	<article id="jaculatorias">
		<h2>Jaculatorias</h2>
		<p>
			“Tiempo de María” propone estas invocaciones piadosas con las que acompaña cada grupo de Misterios d urante el rezo del Rosario.
		</p>
		<p>
			Se repiten antes de anunciar el Misterio correspondiente.
		</p>

		{% for jaculatoria in site.jaculatorias %}
			<h3>{{ jaculatoria.title }}</h3>
			{{ jaculatoria.content }}
		{% endfor %}
	</article>
	<article id="indulgencias-beneficios-bendiciones">
		<h2>Indulgencias, beneficios y bendiciones del Santo Rosario</h2>
		<p>
			Indulgencia significa perdón. Se trata de una remisión ante Dios de la pena temporal.Puede obtenerse por medio de la Iglesia.
		</p>
		<p>
			Para ganar indulgencias es necesario cumplir con las condiciones establecidas por la Iglesia, entre las cuales son imprescindibles encontrarse en estado de gracia y tener la intención de ganarlas.
		</p>
		<p>
			La indulgencia puede ser plenaria o parcial.
			La plenaria es la remisión total de todas las penas debidas por causa del pecado. La parcial, libra una parte solamente de la pena temporal.
		</p>
		<p>
			Mediante el rezo de una parte (5 Misterios) del Santo Rosario puede obtenerse indulgencia plenaria si se recita: en una Iglesia, o en un oratorio público, o en familia, o en una comunidad religiosa o pía asociación.
		</p>
		<p>
			En otras circunstancias diferentes, se ganará una indulgencia parcial.
		</p>
		<h2>Beneficios del Santo Rosario.</h2>
		<p>San Luis Ma. De Montfort.</p>
		<ul class="bulleted-list">
			<li>
				Nos eleva gradualmente al perfecto conocimiento de Cristo.
			</li>
			<li>
				Purifica nuestras almas del pecado.
			</li>
			<li>
				Nos permite vencer a nuestros enemigos.
			</li>
			<li>
				Nos facilita la práctica de las virtudes.
			</li>
			<li>
				Nos abrasa en amor a Jesucristo.
			</li>
			<li>
				Nos proporciona cómo pagar todas nuestras deudas con Dios y con los hombres.
			</li>
			<li>
				Nos consigue de Dios toda clase de gracias.
			</li>
			<li>
				Los pecados obtienen el perdón.
			</li>
			<li>
				Las almas sedientas se sacian.
			</li>
			<li>
				Los que están atados ven sus lazos deshechos.
			</li>
			<li>
				Los que lloran hallan alegría.
			</li>
			<li>
				Los que son tentados hallan tranquilidad.
			</li>	
			<li>
				Los pobres son socorridos.
			</li>
			<li>
				Los religiosos son reformados.
			</li>
			<li>
				Los ignorantes son instruidos.
			</li>
			<li>
				Los vivos triunfan sobre la vanidad.
			</li>
			<li>
				Los muertos alcanzan misericordia por vía de sufragios.	
			</li>
		</ul>
	</article>
	<article id="promesas-del-santo-rosario">
		<h2>Promesas del Santo Rosario</h2>
		<p>
			Estas son las promesas que la Santísima Virgen hizo al Beato Alano de Rupe, a favor de los devotos del Rosario.
		</p>
		<ol>
			<li>
				1º  - Quien me sirviere rezando constantemente mi Rosario, recibirá cualquier gracia que me pida.
			</li>
			<li>
				2º  - Prometo mi especialísima protección a los que devotamente rezaren mi Rosario.
			</li>
			<li>
				3º  - El Rosario será un escudo fortísimo contra el infierno, destruirá los vicios, librará de pecados y abatirá la herejía.
			</li>
			<li>
				4º  - El Rosario hará germinar las virtudes y hará que las almas consigan copiosamente la Misericordia Divina; sustituirá en el corazón de los hombres el amor de Dios al amor del mundo y los elevará a desear las cosas celestiales y eternas.
			</li>
			<li>
				5º  - El alma que se me encomiende por el Rosario no perecerá.
			</li>
			<li>
				6º  - Quien con devoción rezare mi Rosario considerando sus sagrados Misterios no se verá oprimido por la desgracia ni morirá de muerte desgraciada; se convertirá si es pecador; perseverará en la gracia si es justo, y en todo caso será admitido en la vida eterna.
			</li>
			<li>
				7º  - Los verdaderos devotos de mi Rosario no morirán sin los auxilios de la Iglesia.
			</li>
			<li>
				8º  - Quiero que todos los que recen mi Rosario tengan en vida y en muerte la luz y la plenitud de la gracia y sean participantes de los méritos de los bienaventurados.
			</li>
			<li>
				9º  - Yo libro muy pronto del purgatorio las almas devotas del Rosario.
			</li>
			<li>
				10º - Los hijos verdaderos de mi Rosario gozarán en el Cielo de una gloria singular.
			</li>
			<li>
				11º - Todo cuanto se pidiere por medio del Rosario se alcanzará prontamente.
			</li>
			<li>
				12º - Socorreré en todas sus necesidades a  los que propaguen mi Rosario.
			</li>
			<li>
				13º - He impetrado de mi Hijo que todos los cofrades del Rosario tengan en vida y en muerte como hermanos a todos los bienaventurados de la Corte Celestial.
			</li>
			<li>
				14º - Los que rezan mi Rosario son todos hijos míos muy amados y hermanos de mi Unigénito Jesús.
			</li>
			<li>
				15º - La devoción del Santo Rosario es una señal manifiesta de predestinación a la Gloria.
			</li>
	</article>
</section>


